<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/css/goto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="/js/jquery-3.6.0.js"></script>
</head>

<body>
    <div id="title">Habits for the Day</div>
    <div>
        <input type="date" id="date-input" name ="date">
        <input type="submit" id="submit-date">
    </div>
    <div id = "noHabits" hidden>
        No Habits for the date
    </div>
    <div id="Habits" hidden>
        <!-- <div class="HabitTile">
            Workout
            <div class="checkBox">
                <input type="radio">
                <span>Done</span>
                <input type="checkbox">
                <span>Not Done</span>
            </div>
        </div> -->
    </div>
    <input type="submit" id="confirm" value="Confirm" hidden>
    <div class="fab-container">
        <div class="fab fab-icon-holder">
            <i class="fas fa-question"></i>
        </div>
        <ul class="fab-options">
            <a href="/getCreateHabitPage">
            <li>
                
                <span class="fab-label">Add Habit</span>
                <div class="fab-icon-holder">
                    <i class="fas fa-plus"></i>
                </div>
                
            </li>
            </a>
            
            <li>
                <span class="fab-label">Go To</span>
                <div class="fab-icon-holder">
                    <i class="fas fa-calendar"></i>
                </div>
            </li>
        </ul>
    </div>

</body>
<script src="/js/goto.js"></script>



</html>